<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="tie">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="manifest" href="../../site.webmanifest">-->
    <!--<link rel="apple-touch-icon" href="../../icon.png">-->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.min.css?v={{MAIN_VERSION}}">
</head>
<body>
<header>
    <div class="header"></div>
</header>
<!--组件列表-->
<div id="component_panel">
    <ul>
        <li class="active">1</li>
        <li><a id="create_label"><i></i>推荐一</a></li>
        <li><a>推荐二</a></li>
        <li><a>推荐三</a></li>
    </ul>
</div>
<div id="container">
    <div id="m_content">
        <!--<t-label contenteditable="true">单击此处添加文字</t-label>-->
    </div>
</div>
<div id="property_panel">
    <div class="pp-position">
        X:<input type="text" class="x">
        Y:<input type="text" class="y">
    </div>
    <!--<button class="btn btn-default" onclick="addDiv()">div</button>-->
</div>
<script src="lib/jquery-{{JQUERY_VERSION}}.min.js"></script>
<script src="js/main.min.js?v={{MAIN_VERSION}}"></script>
<script>
    window.TMain.init();
</script>
</body>
</html>
