html, body {
    height: 100%;
}

.header {
    width: 100%;
    height: 80px;
    background-color: red;
}

#component_panel {
    height: calc(100% - 80px);
    width: 20%;
    float: left;
}

#container {
    height: calc(100% - 80px);
    width: 60%;
    float: left;
}

#m_content {
    width: 667px;
    height: 375px;
    position: relative;
}

#property_panel {
    height: calc(100% - 80px);
    width: 20%;
    float: left;
}
