html, body {
    height: 100%;
}

#component_panel {
    height: 100%;
    width: 20%;
    float: left;
}

#container {
    height: 100%;
    width: 60%;
    float: left;
}

#m_content {
    width: 667px;
    height: 375px;
    position: relative;
}

#property_panel {
    height: 100%;
    width: 20%;
    float: left;
}
