html, body {
    height: 100%;
}

#container {
    height: 100%;
    width: 60%;
    float: left;
}

#m_content {
    width: 414px;
    height: 736px;
    //background-color: red;
}

#toolset {
    height: 100%;
    width: 40%;
    float: left;
}
